body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: url('https://images.unsplash.com/photo-1647941953226-6ef3fef4ddbf?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bmlnaHQlMjBzZWF8ZW58MHx8MHx8fDA%3D');
}
.div01{
    display: flex;
    margin: 5px;
    transition: transform 0.5s ease;
}
.div:hover{
    transform: scale(1.2);
}
input{
    padding: 15px;
    width: 140%;
    border-radius: 10px 0px 0px 10px;
    outline: none;
    background: #3a3a3a;
    color: white;
    border: none;
}
button{
    padding: 10px;
    border: none;
    background: dimgray;
    border-radius: 0px 10px 10px 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
h2{
    font-family: 'Lora', Sans-Serif;
    font-size: 2.3em;
    color: white;
}
select{
    margin-top: 10px;
    width: 40%;
    height: 5.6%;
    background-color: dimgray;
    color: white;
    border-radius: 10px;
    border: none;
}
video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
nav{
    background: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    color: white;
    padding: 10px;
    display: flex;
    width: 95%;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
}
nav input{
    width: 25%;
    padding: 10px;
}
nav select{
    transition: transform 0.32s ease;
}
nav select:hover{
    transform: scale(1.2);
}
